<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<title>Todo List</title>
</head>
<body>

<div class="container ">
	<h3 class="bg-primary text-white p-3 mb-3"> Todo-list</h3>
	
	<a th:href="@{/add}" class="btn btn-primary btn-sm d-inline mb-3" >Add Task<a/>
	<a th:href="@{/clear}" class="btn btn-warning btn-sm d-inline mb-3 float-right">Clear</a>
	<p th:class="${todos.size()>0}?'d-none':'alert alert-success mt-3 col-5 float-md-none'">No tasks are pending , Add some task.</p>
	<table th:class="${todos.size()>0}?'table table-bordered table-striped mu-3 ':'d-none'">
		<thead class="thead-dark">
			<tr>
				<th></th>
				<th>Task</th>
				<th>Action</th>
			</tr>	
			
		</thead>
		<tbody>
			<tr th:each="thetodo : ${todos}" class="bg-light">
				<td>
					<div >
					<!-- Add "update" button/link -->
					<form action="#" th:class="${thetodo.status}?'d-none':''" th:action="@{/done}">
					
						<input type="hidden" name="taskId" th:value="${thetodo.id}" />						
						<button type="submit" th:class=" ${thetodo.status}?'btn btn-sm ml-3 mr-1 btn-secondary':'btn btn-sm ml-3 mr-1 btn-info'">Done</button>

					</form>
					</div>
				</td>
				<td th:class="${thetodo.status}?'text-muted w-75':'text-primary w-75'" th:text="${thetodo.task}" />
				<td>
				<div class="row">
				
					<div class="col-small">
					<!-- Add "update" button/link -->
					<form action="#" th:action="@{/update}">
					
						<input type="hidden" name="taskId" th:value="${thetodo.id}" />						
						<button type="submit" class="btn btn-info btn-sm ml-3 mr-1">Update</button>

					</form>
					</div>
					
					<div class="col-small">
					<!-- Add "delete" button/link -->					
					<form action="#" th:action="@{/delete}" >
					
						<input type="hidden" name="taskId" th:value="${thetodo.id}" />					
						<button type="submit" class="btn btn-danger btn-sm"
								onclick="if (!(confirm('Are you sure you want to delete this task?'))) return false">
								Delete
						</button>

					</form>
					</div>
				</div>	
				</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>